/*! Editor Panes styles */
.html, .js, .css, .view {
    
    width: 50%;
    height: 50%;
    float: left;
    box-sizing: border-box;

}

.code-box {
  
  .bar {    
    color: $base-color-font;
    text-shadow: 0 1px 0px $base-color-shadow;
    background-color: $base-color-1;
    font-size:10px;
    font-weight: 700;
    height: 25px;
    width: 100%;
    position: absolute;
    border-bottom: 1px solid $base-color-3;
  }

  .title {
    line-height: 25px;
    text-indent: 7px;
    float:left; 
  }

  .code {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid $base-color-2;
    padding-top: 25px;
    font-size:16px;
  }

  .icon{
    left: 40px;
    position: absolute;
    top: 8px;
    cursor: pointer;
    background:$base-color-1;
    border-radius: 5px;
    font-weight: 600;
    text-shadow: none;

    &:hover{
      font-size:20px;
      padding: 0 5px 5px;
      color:$accent-dark-color-0;
      border-bottom: 1px solid $base-color-3;
    }
  }
  
  .icon_adjust-horiz{
    margin: 9px 5px;
    color: $accent-dark-color-0;
    background:$base-color-icon-button;
    float: left;
    padding: 2px 3px 2px 2px;
    border-radius: 3px;

    &:hover{
      color:#FFF;//$accent-color;
      background:$accent-dark-color-0;
      text-shadow: 0px 1px 1px $accent-dark-color-2;
    }
  }
}

.editors {
  border-left: 2px solid $base-color-1;

  &.open { 
    width:-webkit-calc( 100% - #{ $sidebar-width } );  
  }

  &.open-half { 
    width:-webkit-calc( 100% - #{ $sidebar-width-half } );  
  }
}