body{

  &.mac{
    .window-bar {
      .window-controls {
        .window-close { float:left; }
      }
      .window-drag{ float:right; }
      .popout-drag{ float:right; }
    }
    .sidebar{ font-weight: 500; }
  }

  &.linux{
    .window-bar {
      .window-drag{ float:right; }
      .popout-drag{ float:right; }
    }
  }
}