.popout{

  .overlay{
    background-color: #333;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 1020;
  }

  .frame{
    width: 300px;
    height: 360px;
    background: red;
    box-shadow: 0px 3px 20px #000;
    position: absolute;
    top: -webkit-calc(100% - 720px);
    left: -webkit-calc(100% - 600px);
  }
}

.popout-title-icon{
  margin-right: 5px;
  font-size: smaller;
}

.popout-content{
  margin-top: 30px;
  overflow: auto;
  max-height: 400px;
}

.popout-header{
  line-height: 28px;
  text-indent: 8px;
  height: 28px;
  font-size: initial;
}

.load-list{
  list-style-type: none;
  padding: 0;
  border: 1px solid $theme-color-darkest;
  margin: 9px;
  box-shadow: inset 0px 3px 6px #111;

  li{
    padding: 10px;
    border-bottom: 1px solid $theme-color-darkest;
    background-color: $theme-color-darker;
    &:hover{
      background-color: $theme-color-dark;
    }
  }
  .list-item{
    table{
      width: 100%;
    }
    &.deleted{
      height: 0;
      overflow: hidden;
      padding: 0;
      border: 0;
    }
  }
  .list-item-data{
    
    .list-item-title{
      font-size: x-large;
      font-weight: 300;
      text-shadow: 0px 1px 1px $theme-color-darkest;
    }
    .list-item-subtitle{
      font-size: small;
    }
  }

  .list-item-actions{
    text-align:right;
    .icon{
      cursor:pointer;
      font-size:21px;
      margin:10px;
    }
  }
}