.popout{

  .overlay{
    background-color: $base-color-0;
    opacity: .5;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 1020;


  }

  .splash{
    width: 100%;
    height: 100%;
    z-index: 1020;
    position: absolute;
    background-color: $base-color-2;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .splash-contents{
    text-align: center;
    font-size: medium;
    width: 400px;
    top: 55%;
    position: relative;
    left: -webkit-calc(50% - 200px);

    .maybelater{
      font-size:small;
      color:#777;
      &:hover{
        color:inherit;
      }
    }
    .signin{
      margin: 20px;
    }
  }
}

.popout-title-icon{
  margin-right: 5px;
  font-size: smaller;
}

.popout-content{
  margin-top: 30px;
  overflow: auto;
  max-height: 400px;
  font-size:14px;

}

.settings-options{
  .field{

    border-bottom:1px solid $base-color-1;
    margin: 10px 10px 0 10px;
    
    .field-title{
      font-weight: 600;
      padding:5px;
    }

    .field-option{
      margin-left: 10px;
      padding: 5px;
      
      .input{
        float:right;
        margin-top: 4px;
      }
    }
  }
}

.popout-header{
  line-height: 28px;
  text-indent: 8px;
  height: 28px;
  font-size: initial;
}
.confirm-wrapper{

  .confirm-text{
    width: 100%;
    text-align: center;
    padding-top: 35px
  }

}

footer{

  .cancel{float:left;}
  
  .ok{ float:right; }
  .continue{ float:right; }
}

.load-list-empty{
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: larger;
  text-align: center;
}

.load-list{
  list-style-type: none;
  padding: 0;
  border: 1px solid $accent-dark-color-2;
  margin: 9px;
  box-shadow: inset 0px 3px 6px $base-color-shadow;

  li{
    padding: 10px;
    border-bottom: 1px solid $accent-dark-color-2;
    background-color: $accent-dark-color-1;
    &:hover{
      background-color: $accent-dark-color-0;
    }
  }
  .list-item{
    table{
      width: 100%;
    }
    &.deleted{
      height: 0;
      overflow: hidden;
      padding: 0;
      border: 0;
    }
  }
  .list-item-data{
    color:#CCC;
    .list-item-title{
      font-size: x-large;
      font-weight: 300;
    }
    .list-item-subtitle{
      font-size: small;
    }
  }

  .list-item-actions{
    text-align:right;
    .icon{
      cursor:pointer;
      font-size:21px;
      margin:10px;
      color:$accent-light-color-3;

      &:hover{
        color:#CCC;
      }
    }
  }
}