.profile{
  padding: 7px 7px 4px;
  background: $app-profile-bg;
  
  .profile-img{ 
    width:25px;
    cursor: pointer;
    border-radius: 5px;
  }

  .profile-name{ 
    position: absolute;
    top: 12px;
    left: 40px;
    cursor: pointer;
  }

  .profile-settings{
    position: absolute;
    top: 11px;
    right: -20px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  color: $app-profile-font;

  &:hover{
    color: $app-profile-font-hover;
    &>.profile-settings{ 
      right: 11px;
    }      
  }
}