.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: $base-color-3;
}

::-webkit-scrollbar {
  -webkit-appearance:none;
  width:12px;
  height:12px;
  background-color:$base-color-2;
}

::-webkit-scrollbar-thumb {
  border-radius:12px;
  border:4px solid $base-color-2;
  background-clip:content-box;
  background-color:#666;
}
::-webkit-scrollbar-thumb:hover {
  border-radius:12px;
  border:4px solid $base-color-2;
  background-clip:content-box;
  background-color:$accent-color;
}

::-webkit-scrollbar-corner {
  background-color:$base-color-1;
}