.sv-split-space {
  
  height: -webkit-calc(100% - (#{$topbar-height} + 20px));
  background-color: #DDD;
  right: 0;
  margin-top: $topbar-height;

}

.sv-container { 

  padding:0;
  overflow:hidden;

}
.sv-grip {

  border-color:#666;

  &:hover { 
    border-color:$accent-color;
  }

}