/*! Global styles */

body, html { 
  height: 100%;
  margin: 0;
  background-color:$base-color-2;
  color:$base-color-font;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.transition{ 
  -webkit-transition: all 0.12s; 
  &.slow{ -webkit-transition: all 0.5s; }
  &.bounce{ 
    -webkit-transition-timing-function: cubic-bezier(.74,-1.24,.23,1.97); }
  &.delayed{
    -webkit-transition-delay:.25s;
    -webkit-transition-duration: .5s;
  }
}


.absolute{ position:absolute; }
.bottom{ bottom:0; }
.center{ text-align:center; }
.hidden {display:none; }
.visible{ display:block !important; }
.opaque{opacity:0 !important;}
.clear{clear:both;}
.left-container{float:left;clear: both;margin-bottom:15px;}
.right-container{float:right;}
.small{ font-size: 10px; }
.floatRight{ float:right; }
.floatLeft{ float:left; }


*:focus{outline:none;}
::selection { background: $accent-color; color:#EEE; }

input{
  &.invalid{
    border-color:#AA4B4B;
  }
  &[type=password],
  &[type=text]{
    padding: 2px;
    color:#666;
    border: 1px solid $base-color-0;
  }
}

textarea{
  width:100%;
  resize:vertical;
}

ul{margin: 0; padding: 0; list-style: none;}
.project-name{

  float: left;
  margin: 3px;
  max-width: -webkit-calc(100% - 230px);
  border: 1px solid transparent;
  padding: 6px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;

  &.editing{
    background-color: $base-color-3;
    border: 1px solid $base-color-1;
  }
  
}

.app-name{
  float: right;
  margin: 9px 8px 0 5px;
  font-size: 14px;
}
.app-logo{
  background-image: url(/images/mockbox-logo.svg);
  height: 20px;
  float:right;
  background-size: 106px;
  margin-top: 11px;
  margin-right: 10px;
  background-repeat: no-repeat;
  min-width: 23px;
}

.about-logo{
  background-image: url(/images/mockbox-logo.svg);
  width: 250px;
  height: 47px;
  background-size: cover;
  margin: 25px;
  float: none;
}

.about-version{
  font-size: medium;
  font-weight: 600;
  margin-bottom: 5px;
}

header {
  color: $base-color-font;
  background-color: $base-color-2;
  border: 1px solid $base-color-3;
  box-shadow: 0 0 5px $base-color-shadow;
  font-size: 20px;
  height: $topbar-height;
  position: absolute;
  right: 0;
  z-index: 1010;
  width:100%;

  .icon{
    &:hover{
      color:$accent-dark-color-0;
    }
  }
  
  .icon_adjust-horiz{
    margin: 9px 5px;
    color: $accent-dark-color-0;
    background:$base-color-icon-button;
    float: left;
    padding: 2px 3px 2px 2px;
    border-radius: 3px;

    &:hover{
      color:#FFF;//$accent-color;
      background:$accent-dark-color-0;
      text-shadow: 0px 1px 1px $accent-dark-color-2;
    }
  }

  &.open { 
    width:-webkit-calc( 100% - #{ $sidebar-width } );  
  }

  &.open-half { 
    width:-webkit-calc( 100% - #{ $sidebar-width-half } );  
  }
}

footer {
  color: $base-color-font;
  background-color: $base-color-1;
  border-top: 1px solid $base-color-2;
  font-size: 20px;
  position: absolute;
  bottom:0;
  z-index: 1010;
  width:100%;
  padding: 10px;
  box-sizing: border-box;

}

.a{
  cursor: default;/*pointer;*/
  &:hover{ text-decoration: underline; }
  &.small{ 
    color:$app-popout-link-color;
    font-size:smaller;
  }
}


iframe { border: none; width:100%; height:100%; }

select{
  option{ 
    background-color:#CCC;
    color:#333;
  }

}



button, select {
  box-shadow:inset 0px 1px 0px 0px $accent-dark-color-0;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $accent-dark-color-1), color-stop(1, $accent-dark-color-0) );
  border-radius:3px;
  text-indent:0;
  border:1px solid $accent-dark-color-1;
  display:inline-block;
  color:$base-color-button;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px $accent-dark-color-0;
  min-width: 70px;
  height: 35px;
  cursor: default;/*pointer;*/
  padding: 0 10px;
  
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $accent-dark-color-0), color-stop(1, $accent-dark-color-1) );
    box-shadow:0px 1px 0px 0px $base-color-0;
  }
  &:active {
    box-shadow:0px 1px 0px 0px $base-color-4;
  }

  &.cancel{
    box-shadow:inset 0px 1px 0px 0px #994343;
    text-shadow:1px 1px 0px #994343;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #AA4B4B), color-stop(1, #994343) );
    border-color:#AA4B4B;
    &:hover{
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #994343), color-stop(1, #AA4B4B) );
      //box-shadow:0px 1px 0px 0px #994343;
    }
    &:active{
      //box-shadow:0px 1px 0px 0px #994343;
    }
  }

  &.inactive{
    -webkit-filter: #{"grayscale(1) brightness(1)"};
    opacity: .5;
    cursor: default;
  }

  .icon{
    padding: 0 5px 0 2px;
  }
}
