
.view-export{
  
  .sidebar{
    width: 150px;

    .selected{
      background:$base-color-2;
      color:$base-color-font;
      padding-left:12px;

      path{ fill:  $base-color-font; }
      &:hover{
        path{ fill:  $base-color-font; }
      }
    }
  }

  .panels{
    margin-left:150px;
  }
}