
.view-load{
  
  .sidebar{
    width: 150px;
    border-top:none;
    
    .selected{
      background:$base-color-2;
      color:$base-color-font;
      padding-left:10px;
      border-radius: 3px 0 0 3px;
      margin: 0px 0 0px 10px;

      path{ fill:  $base-color-font; }
      &:hover{
        path{ fill:  $base-color-font; }
      }
    }
  }

  .panels{
    margin-left:150px;
  }

  .prototypes{
    .list-item{
      height:61px;
    }
  }
}




.load-list-empty{
  position: absolute;
  top: 50%;
  width: 340px;
  font-size: larger;
  text-align: center;
}

.load-list{
  list-style-type: none;
  padding: 10px;
  
  .list-item{
    cursor: pointer;
    table{
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      td{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    
    &.deleted{
      height: 0;
      overflow: hidden;
      padding: 0;
      border: 0;
    }
  }

  .list-item-load{

    padding: 10px;
    background-color: $accent-dark-color-1;
    color:#CCC;
    border-top: 1px solid $accent-dark-color-2;
    border-left:1px solid $accent-dark-color-2;
    border-right:none;
    border-bottom:none;

    &:hover{
      background-color: $accent-dark-color-0;
      padding-left: 12px;
      color: #FFF;
    }
    
    &:nth-last-child(2){ 
      border-bottom: 1px solid $accent-dark-color-2;
    }

    .list-item-title{
      font-size: large;
      font-weight: 400;
    }
    .list-item-subtitle{
      font-size: small;
    }
  }

  .list-item-delete{
    text-align:center;
    width: 75px;
    background-color:#994343;
    color:#CCC;
    border: 1px solid #333;
    border-bottom: none;

    &:hover{
      color:#333;
      background-color:#AA4B4B;
    }
    
    &:last-child{ 
      border-bottom: 1px solid #333;
    }

    .icon{
      font-size:21px;
    }
  }
}