.popout-content{
  .sidebar{
    width: 150px;
    border-top:none;

    .selected{
      background:$base-color-2;
      color:$base-color-font;
      padding-left:10px;
      border-radius: 3px 0 0 3px;
      margin: 0px 0 0px 10px;

      path{ fill:  $base-color-font; }
      
      &:hover{
        path{ fill:  $base-color-font; }
      }
    }
  }
}

.panels{
  margin-left:150px;
  margin-left:150px;
}

.settings-options,
.properties-options,
.export-options{

  ul li{
    margin-bottom: 65px;
  }

  .field{

    border-bottom:1px solid $base-color-1;
    margin: 0px 10px 0;
    padding-top: 5px;
    
    .field-title{
      font-weight: 600;
      padding:5px;
    }

    .field-option{
      margin-left: 10px;
      padding: 5px 10px;
    }

    .field-option-title{
      vertical-align:middle;
    }

    &.inactive{
      -webkit-filter: #{"grayscale(1) brightness(1) blur(1px)"};
      opacity: .2;
      cursor: default;
    }
  }


  

  .purchase-required{
    position: absolute;
    height: 352px;
    width: -webkit-calc(100% - 153px);
    z-index: 10;

    top: 50px;
    text-align: center;
    font-size: large;


    & + .field {
      -webkit-filter: #{"grayscale(0.5) brightness(1) blur(1px)"};
      opacity: .5;
      cursor: default

    }
    
    .purchase-message{
      width: 230px;
      margin: 42px auto 0;
      padding:20px;


      .icon{ 
        font-size: 60px;
        color: #eaad2a;
        text-shadow: 0 1px 2px #666;
        margin-bottom: 10px;
      }
    }

    .purchase-buttons{
      margin:0;
    }

  }
}