doctype html
html
  head

    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Styles
    
    each sheet, index in stylesheets
      link(id=index rel="stylesheet" type="text/css" href=sheet)

  body
    section.app-frame.frame-top
    section.app-frame.frame-right
    section.app-frame.frame-bottom
    section.app-frame.frame-left
      
    section#app-window-frame.window-bar
      span#app-window-controls.window-controls.hidden
        span.window-min.icon_minus-06
        span.window-max.icon_plus
        span.window-close.icon.icon_close
      div.window-drag


    // Notification
    section#app-notification.transition.slow.bounce.notification
      section.notification-wrapper.error
        span.notification-icon.transition.bounce.delayed
        span.notification-message.transition.delayed
        span.notification-link
        span.notification-close.icon_close

    // Popout
    
    section#app-popout.popout
      section.overlay
      section#app-splash.splash.transition
        section#app-splash-loading
          section.spinner
            section.bounce1
            section.bounce2
            section.bounce3

        section#app-splash-access.splash-contents.hidden
          section Welcome, let's begin by allowing access to your Google Account. This will enable the best experience and more features.
          button.allow Allow Access
          span.a.maybelater Maybe later


    // Menu Sidebar
    
    section#app-sidebar.sidebar

      //- PRFOILE
      section#profile-container.profile.hidden
        img.profile-img(src="images/profile.png")
        span.profile-name
          span.a Sign in
      
      section.content
        ul

          //- NEW
          li.new.transition
            span(title="NEW").icon.icon_document
            span NEW

          //- SAVE
          li.save.transition 
            span(title="SAVE").icon.icon_drive_alt
            span SAVE

          //- LOAD
          li.load.transition 
            span(title="LOAD").icon.icon_grid-2x2
            span LOAD

          //- EXPORT
          li.export.transition 
            span(title="EXPORT").icon.icon_folder_download
            span EXPORT
          
        ul.absolute.bottom
          
          li.about.transition 
            section.item
              span(title="ABOUT").icon.icon_question
              span ABOUT

          li.profile-settings.transition 
            section.item
              span(title="SETTINGS").icon.icon_cog
              span SETTINGS

    // Header

    header#app-header.header.transition.open.hidden
      span#app-sidebar-toggle.sidebar-toggle.icon(data-icon="a")
      span.app-logo
      span.project-name.transition New Prototype
      span(title="PROTOTYPE PROPERTIES").icon_adjust-horiz

    // SplitView container
    
    section#app-editors.editors.transition.open
      
      section#html.code-box
        section.bar
          section.title HTML
        section.code

      section#css.code-box
        section.bar
          section.title CSS
        section.code

      section#js.code-box
        section.bar
          section.title JS
        section.code

      section#view.code-box
        section.bar
          section.title VIEW
        section#iframe-container.code
          iframe(id="compiled-view" src="mockbox_prototype.html" width="100%" height="100%")
          
    section#app-footer.footbar.transition.open
      section.footbar-message   
    // Scripts
    
    each script in scripts
      script( type="text/javascript" src=script)