doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="styles/iframe.css")
  
  style#mockbox-prototype-styles
  
  body

  script.
    window.addEventListener('message', function(event) {
      var frameworkScript;

      //- Create a new body to clear any bound events to the body
      var body = document.createElement("body");
      //- Set the contents of the body
      body.innerHTML = event.data.html;
      //- Reset the current body to the new one
      document.body = body;

      var scriptWrapper = ['',''];
      var props = event.data.properties;

      document.getElementById('mockbox-prototype-styles').innerHTML = event.data.css;
      
      //- Create a new body to clear any bound events to the body
      var htmlTag = document.getElementsByTagName("html");
      //- Set the contents of the body
      //body.innerHTML = event.data.html;
      //- Reset the current body to the new one
      //document.body = body;

      if(props.html.html){
        props.html.html.forEach(function(attr){
          attr = attr.trim();
          attr = attr.split(/[\=\'|\=\"]+/g);
          if(attr.length > 1){
            attr[1] = attr[1].replace(/[\/"\/']/g,'');
            htmlTag[0].setAttribute(attr[0],attr[1]);
          }else{
            htmlTag[0].setAttribute(attr[0],'');
          }
        });
      }

      // TODO
      if(props.css.normalize){
        var link = document.createElement("link");
        link.href = "custom_includes/normalize.css";
        link.type = "text/css";
        link.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(link);
      }

      if(props.css.sources){
       props.css.sources.forEach(function(src){
          var link = document.createElement("link");
          link.href = src;
          link.type = "text/css";
          link.rel = "stylesheet";
          document.getElementsByTagName("head")[0].appendChild(link);
        });
      }

      if(props.js.apollo){
        //- Create a new script to contain the latest code
        var scriptApollo = document.createElement("script");
        //- Set the type
        scriptApollo.src = "custom_includes/apollo.min.js";
        //- Set the type
        scriptApollo.type = "text/javascript";
        //- Append script element to new body
        document.body.appendChild(scriptApollo);
      }

      if(props.js.framework){
        //- Create a new script to contain the latest code
        frameworkScript = document.createElement("script");
        //- Set Id for reference
        frameworkScript.id = "mockbox-prototype-framework";
        //- Set the type
        frameworkScript.type = "text/javascript";
        //- Append script element to new body
        document.body.appendChild(frameworkScript);
      
        switch(props.js.framework){
          case 'jquery1':
            frameworkScript.src = "custom_includes/jquery-1.11.1.min.js";
            scriptWrapper = ['$( document ).ready(function() {','});'];
            break;
          case 'jquery2':
            frameworkScript.src = "custom_includes/jquery-2.1.1.min.js";
            scriptWrapper = ['$( document ).ready(function() {','});'];
            break;
          case 'angular':
            htmlTag[0].setAttribute('ng-app','');
            frameworkScript.src = "custom_includes/angular.min.js";
            //scriptWrapper = ['$( document ).ready(function() {','});'];
            break;
        }

      }

      if(event.data.js){
        setTimeout(function(){
          //- Create a new script to contain the latest code
          var script = document.createElement("script");
          //- Set the type
          script.type = "text/javascript";
          //- Set the code to the script element
          script.innerHTML = scriptWrapper[0] + event.data.js + scriptWrapper[1];
          //- Append script element to new body
          document.body.appendChild(script);
        },50);
      }

      setTimeout(function(){
        window.top.postMessage({ html: document.getElementsByTagName('html')[0].outerHTML }, "*");
      },100);
    });