extends mockbox_popout.jade

block title
  span About
block titleIcon
  span.icon_question

block content
  section.about-logo
  section#about-version.about-version.center
  section#about-update.center
    span Checking for update ...
  
  section#about-content.about-links.center
    br
    span Developed by Luis Reyes
    br
    span &copy;2015 - 
    span 
      a(href='http://luisreyes.com/?ref=mb' target='_blank') luisreyes.com
          
  footer#about-footer
    section.footer-links
      span.twitter.transition 
        span.icon.social_twitter

      span.email.transition 
        span.icon.icon_mail

    button.ok ok