extends mockbox_popout.jade

block title
  span Settings
block titleIcon
  span.icon_cog

block content
  section#settings-options.settings-options
    section.field
      section.field-title User Settings
      section.field-option
        span Signin to Google
        button.input#settings-signin Signin
        section.clear
        
    section.field
      section.field-title Application Settings
      section.field-option
        span Autoload last 
        input.input#settings-open-check(type="checkbox")
      section.field-option
        span Select a theme
        select.input#settings-theme-select
            option light
            option dark
        section.clear
          
  footer#settings-footer
    button.cancel cancel
    button.ok ok