extends mockbox_popout.jade

block title
  span About
block titleIcon
  span.icon_question

block content
  section.about-logo
  section#about-version.center
  //- button.input Check for Updates
          
  footer#about-footer
    button.ok ok