extends mockbox_popout.jade

block title
  span Do you have a connection?
block titleIcon
  span.icon_globe

block content
  section Please verify you have internet access to continue?
  

footer#connection-footer
    button.ok ok