extends mockbox_popout.jade

block title
  span Prototype Properties
block titleIcon
  span.icon_cog

block content
  section.view-properties
    section#properties-options.sidebar
      ul    
        
        li.application.transition
          section.item
            span.icon.icon_adjust-horiz
          span APPLICATION


    section#properties-panels.properties-options.panels
      ul
        li.application.panel
          section.field
            section.field-title Options
            
            section.field-option
              span.left-container
                span Autoload last
              span.right-container 
                input.input#properties-open-check(type="checkbox")
              section.clear
                
            section.field-option
              span.left-container
                span Select a theme
              span.right-container 
                select.input#properties-theme-select
                  option light
                  option dark
              section.clear
          
  footer#properties-footer
    button.cancel cancel
    button.ok ok