extends mockbox_popout.jade

block title
  span Export
block titleIcon
  span.icon_folder_download

block content
  section.view-export
    section#export-options.sidebar
      ul    
        
        li.local.transition 
          section.item
            span.icon.icon_folder
          span LOCAL

        li.drive.transition 
          section.item
            span.icon.social_googledrive
          span DRIVE

        li.ftp.transition 
          section.item
            span.icon.icon_globe-2
          span FTP
        
    section#export-panels.export-options.panels
      ul
        
        li.drive.hidden
          section.field
            section.field-title Options
            section.field-option
              //- Zip Toggle
              span.left-container
                span Export as zip file
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").zip.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              //- Version Toggle
              span.left-container
                span Export as versions
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").version.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              
              section.clear

        li.ftp.hidden
          section.field
            section.field-title Options
            section.field-option
              //- Zip Toggle
              span.left-container
                span Export as zip file
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").zip.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              //- Version Toggle
              span.left-container
                span Export as versions
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").version.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition

              section.clear

          section.field
            section.field-title FTP Settings
            section.field-option
              span.left-container
                span Host & Port
              span.right-container
                input(type="text" placeholder="ftp.yoursite.com" data-validate="url")#ftp-export-host-input.ftp-host-input
                span  :
                input(type="text" placeholder="21"  data-validate="number")#ftp-export-port-input.ftp-port-input
              span.left-container
                span Path
              span.right-container
                input(type="text" placeholder="(leave empty for root)"  data-validate="string")#ftp-export-path-input
              span.left-container
                span Username
              span.right-container
                input(type="text" placeholder="Username")#ftp-export-user-input
              span.left-container
                span Password
              span.right-container
                input(type="password" placeholder="Password")#ftp-export-pass-input
                section.small Passwords are not saved
              
              section.clear

        li.local.hidden
          section.field
            section.field-title Options
            section.field-option
              //- Zip Toggle
              span.left-container
                span Export as zip file
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").zip.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              //- Version Toggle
              span.left-container
                span Export as versions
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox").version.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              
              section.clear

    footer#export-options-footer
      button.cancel cancel
      button.ok export