extends mockbox_popout.jade

block title
  span Settings
block titleIcon
  span.icon_cog

block content
  section#settings-options.settings-options
    
    section.field
      section.field-title Access to Services 
      section#settings-access-services
        
        section.google-access.field-option
          span.left-container
            span Google Account
            section.clear
            span.a.small.access.hidden Why should I allow access?
            span.a.small.revoke.hidden View Permissions
          span.right-container
            button.toggleBtn.access.hidden Allow Access
            button.toggleBtn.revoke.hidden Revoke Token
          section.clear

        section.github-access.field-option
          span.left-container
            span Github
            section.clear
            span.a.small.access.hidden Why should I allow access?
            span.a.small.revoke.hidden View Permissions
          span.right-container
            button.toggleBtn.access.hidden Allow Access
            button.toggleBtn.revoke.hidden Revoke Token
          section.clear
        
    section.field
      section.field-title Application Settings
      
      section.field-option
        span.left-container
          span Autoload last
        span.right-container 
          input.input#settings-open-check(type="checkbox")
      
      section.field-option
        span.left-container
          span Select a theme
        span.right-container 
          select.input#settings-theme-select
            option light
            option dark
        section.clear
          
  footer#settings-footer
    button.cancel cancel
    button.ok ok