extends mockbox_popout.jade

block title
  span About
block titleIcon
  span.icon_question

block content
  section.about-logo
  section#about-version.center
  
  section#about-content.about-links.center
          
  footer#about-footer
    section.footer-links
      span.twitter.transition 
        span.icon.social_twitter

      span.email.transition 
        span.icon.icon_mail

    button.ok ok