extends mockbox_popout.jade

block title
  span Prototype Properties
block titleIcon
  span.icon_cog

block content
  section.view-properties

    //- SIDEBAR
    section#properties-options.sidebar
      ul    
        
        li.html-properties.transition
          section.item
          span HTML

        li.css-properties.transition
          section.item
          span CSS


        li.js-properties.transition
          section.item
          span JavaScript


    //- PANELS
    section#properties-panels.properties-options.panels
      ul
        //- HTML PANEL
        li.html-properties.panel.hidden
          
          section.field
            section.field-title
            section.field-option

              span.left-container
                span Preprocessor
              span.right-container 
                select.input#properties-html-preprocessor
                  option(value="none") None
                  option(value="haml") Haml
                  option(value="jade") Jade

              section.clear

          section.field
            section.field-title
            
              span
                span Custom &lt;HTML&gt;
                span.small.floatRight Leave empty for regular &lt;HTML&gt;
              section.clear
              input(type="text" placeholder='<html lang="eng" class="yourClass">' style="width:100%; margin-bottom:10px;")#properties-html-customHtml

              section.clear

              span
                span Head includes
              section.clear
              textarea(placeholder='<meta name="viewport" content="initial-scale=1, minimal-ui">')#properties-html-headIncludes

              section.clear

        //- CSS PANEL
        li.css-properties.panel

          section.field
            section.field-title
            section.field-option

              span.left-container
                span Preprocessor
              span.right-container 
                select.input#properties-css-preprocessor
                  option(value="none") None
                  option(value="scss") SCSS
                  option(value="less") Less
                  option(value="stylus") Stylus

              section.clear

          section.field
            section.field-title          
            section.field-option

              span.left-container
                span Normalize
                section.clear              
              span.right-container
                label.switch
                  input(type="checkbox" checked)#properties-css-normalize.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              section.clear

              span.left-container
                span Animate.css
                section.clear              
              span.right-container
                label.switch
                  input(type="checkbox")#properties-css-animate.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              section.clear

          section.field
            section.field-title
            
              span
                span External Source(s)
                span.small.floatRight Separate by comma for multiple sources
              section.clear
              textarea(placeholder="http://.css")#properties-css-sources
              section.clear


        //- JS PANEL
        li.js-properties.panel.hidden

          section.field
            section.field-title
            section.field-option

              span.left-container
                span Preprocessor
              span.right-container 
                select.input#properties-js-preprocessor
                  option(value="none") None
                  option(value="coffeescript") CoffeeScript
                  option(value="livescript") LiveScript

              section.clear
          
          section.field
            section.field-title
            section.field-option

              span.left-container
                span Framework
              span.right-container 
                select.input#properties-js-framework
                  option(value="none") None
                  option(value="jquery1") jQuery 1.11.1
                  option(value="jquery2") jQuery 2.1.1
                  option(value="angular") AngularJs 1.2.25

              section.clear

          section.field
            section.field-title
            section.field-option

              span.left-container
                span Apollo
              span.right-container 
                label.switch
                  input(type="checkbox")#properties-js-apollo.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition

              span.left-container
                span Modernizer
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox" checked)#properties-js-modernizer.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition

              section.clear

          section.field
            section.field-title
              
              span
                span External Source(s)
                span.small.floatRight Separate by comma for multiple sources
              section.clear
              textarea(placeholder="http://.js")#properties-js-sources

              section.clear
          
  footer#properties-footer
    button.cancel cancel
    button.ok ok