extends mockbox_popout.jade

block title
  span Settings
block titleIcon
  span.icon_cog

block content
  section#settings-options.settings-options
    section.field
      section.field-title User Settings
      section#settings-allow-container.field-option.hidden
        span.left-container
          span Allow access to your Google account
          section.clear
          span.a.small Why should I allow access?
        button.input#settings-allow Allow Access
        section.clear
      section#settings-revoke-container.field-option.hidden
        span.left-container
          span You are allowing access
          section.clear
          span.a.small View Permissions
        button.input#settings-revoke Revoke Access
        section.clear
        
    section.field
      section.field-title Application Settings
      section.field-option
        span Autoload last 
        input.input#settings-open-check(type="checkbox")
      section.field-option
        span Select a theme
        select.input#settings-theme-select
            option light
            option dark
        section.clear
          
  footer#settings-footer
    button.cancel cancel
    button.ok ok