extends mockbox_popout.jade

block title
  span Application Settings
block titleIcon
  span.icon_cog

block content
  section.view-settings
    section#settings-options.sidebar
      ul    
        
        li.application.transition
          section.item
            span.icon.icon_adjust-horiz
          span SETTINGS


    section#settings-panels.settings-options.panels
      ul
        li.application.panel
          section.field
            section.field-title Options
            
            section.field-option
              span.left-container
                span Autoload last
              span.right-container 
                input.input#settings-open-check(type="checkbox")
              section.clear
                
            section.field-option
              span.left-container
                span Select a theme
              span.right-container 
                select.input#settings-theme-select
                  option light
                  option dark
              section.clear
          
  footer#settings-footer
    button.cancel cancel
    button.ok ok