extends mockbox_popout.jade

block title
  span Purchase Required
block titleIcon
  span.icon_key

block content
  section.view-purchase
    span You don't have this feature yet!
    span Purchase this feature now and export to your <strong>local drive, Google Drive</strong> or <strong>FTP</strong>
    
    footer#purchase-footer
      span.buy
        img(src="/images/-wallet-images-buy-button.png")