extends mockbox_popout.jade

block title
  span Export
block titleIcon
  span.icon_folder_download

block content
  section.colors
    section Base Dark
    span.c0
    span.c1
    span.c2
    span.c3
    span.c4
    
    section Base Light
    span.c5
    span.c6
    span.c7
    span.c8
    span.c9
    
    section Accent Light
    span.c10
    span.c11
    span.c12
    span.c13
    span.c14
    
    section Accent Dark
    span.c15
    span.c16
    span.c17
    span.c18
    span.c19

