extends mockbox_popout.jade

block title
  span Application Settings
block titleIcon
  span.icon_cog

block content
  section#settings-options.settings-options
    
    section.field
      section.field-title Access to Services 
      section#settings-access-services
        
        section.google-access.field-option
          span.left-container
            span Google Account
            section.clear
            span.a.small.access.hidden(title="Because I say so!") Why should I allow access?
            span.a.small.revoke.hidden View Permissions
          span.right-container
            label.switch
              input(type="checkbox").switch-input
              span(data-on="On" data-off="Off").switch-label
              span.switch-handle.transition
          section.clear
        
    section.field
      section.field-title Application Settings
      
      section.field-option
        span.left-container
          span Autoload last
        span.right-container 
          input.input#settings-open-check(type="checkbox")
        section.clear
          
      section.field-option
        span.left-container
          span Select a theme
        span.right-container 
          select.input#settings-theme-select
            option light
            option dark
        section.clear
          
  footer#settings-footer
    button.cancel cancel
    button.ok ok