extends mockbox_popout.jade

block title
  span Export
block titleIcon
  span.icon_folder_download

block content
    section.view-export
        section.sidebar
            ul
                
                li.mockbox.transition 
                    section.item
                      span.icon.icon_mockbox
                        svg(x="0" y="0" width="85" height="85" viewBox="0 0 85 85" enable-background="new 0 0 85 85")
                            path(d="M32 52L0 58v16C0 80 6 85 13 85h62C81 85 85 80 85 73V41L42 73 32 52zM74 0H13C6 0 0 5 0 12v33l46-33 5 21L85 26V12C85 5 81 0 74 0z")
                        
                      span MOCKBOX.IO
                li.drive.transition 
                    section.item
                      span.icon.social_googledrive
                      span DRIVE

                li.dropbox.transition 
                    section.item
                        span.icon.icon_dropbox
                            svg(x="0px" y="0px" width="85px" height="79.059px" viewBox="0 0 85 79.059" enable-background="new 0 0 85 79.059")
                                g(transform="translate(63.5239,133.5215)")
                                    path(d="M-38.52-133.521l-25.003,16.325l17.288,13.845 l25.211-15.567L-38.52-133.521z")
                                g(transform="translate(32.8325,79.4932)")
                                    path(d="M-32.833-35.478l25.003,16.326L9.667-33.757 l-25.21-15.566L-32.833-35.478z")
                                g(transform="translate(84.9995,77.3799)")
                                    path(d="M-42.5-31.642l17.497,14.604L0-33.364l-17.289-13.845 L-42.5-31.642z")
                                g(transform="translate(137.1675,113.4824)")
                                    path(d="M-52.167-97.157l-25.004-16.325l-17.497,14.603 l25.211,15.567L-52.167-97.157z")
                                g(transform="translate(85.063,73.5234)")
                                    path(inkscape:connector-curvature="0" d="M-42.512-24.645l-17.547,14.561l-7.509-4.902v5.496 l25.056,15.025L-17.456-9.49v-5.496l-7.509,4.902L-42.512-24.645z")
                        span DROPBOX
                
                li.ftp.transition 
                    section.item
                      span.icon.icon_globe-2
                      span FTP
                
                li.zip.transition 
                    section.item
                      span.icon.icon_folder
                      span ZIP
