extends mockbox_popout.jade

block title
  span Prototype Properties
block titleIcon
  span.icon_cog

block content
  section.view-properties
    section#properties-options.sidebar
      ul    
        
        li.css-properties.transition
          section.item
            span.icon.icon_adjust-horiz
          span CSS

        li.js-properties.transition
          section.item
            span.icon.icon_adjust-horiz
          span JavaScript


    section#properties-panels.properties-options.panels
      ul
        li.css-properties.panel
          section.field
            section.field-title Options          
            section.field-option
              span.left-container
                span Normalize CSS
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox" checked).normalize.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              section.clear

              span.left-container
                span External CSS
              span.right-container
                input(type="text" placeholder="http://youresites.com/styles.css"  data-validate="url")#properties-css-input

              section.clear

        li.js-properties.panel.hidden
          section.field
            section.field-title Options
            section.field-option

              span.left-container
                span Modernizer
                section.clear
              span.right-container
                label.switch
                  input(type="checkbox" checked).modernizer.switch-input
                  span(data-on="On" data-off="Off").switch-label
                  span.switch-handle.transition
              
              span.left-container
                span External JS
              span.right-container
                input(type="text" placeholder="http://youresites.com/scripts.js"  data-validate="url")#properties-js-input

              section.clear
          
  footer#properties-footer
    button.cancel cancel
    button.ok ok